:root {
  --color-violet: #4f2ee8;
  --color-yellow: #eac645;
  --font-color-white: #ffffff;
  --font-color-grey: #6c6c6c;
  --font-color-violet: #4f2ee8;
  --font-color-yellow: #eac645;
  --font-color1: #111111;
  --paragraph-colour: #b4afaf;
}

body.light {
  --background-color: #ffffff;
  --background-color1: #f6f6f6;
  --font-color: #111111;
  --background-checkbox-theme: linear-gradient(
    180deg,
    #4f2ee8 0%,
    #dcdcdc 100%
  );
  // ========= Authorization ===========================================
  --border-color: #202024;
  --background-color-submit: #111111;
  --text-color-submit: #f3f3f3;
  --text-buttons-submit: rgba(17, 17, 17, 0.5);
  --text-color-auth-form: #111111;
  --background-color-auth-form: #f6f6f6;
  --background-color-submit-active: #333333;
  // ========= /Authorization ===========================================
  // ===========/Category============================================
  --color-text-category: rgba(17, 17, 17, 0.6);
  --color-text-categor-hover: #4f2ee8;
  --color-line-scroll: #e0e0e0;
  // ===========/Category============================================
  --color-pagination-fill: #b4afaf;
  --filter: brightness(1) invert(0);
  --color-filter: brightness(1) invert(0);
  --font-color-shoppinglist: rgba(0, 0, 0, 0.6);
}

body.dark {
  --background-color: #111111;
  --background-color1: #202024;
  --font-color: #ffffff;
  --background-checkbox-theme: linear-gradient(
    180deg,
    #4f2ee8 0%,
    #686868 100%
  );
  // ========= Authorization ===========================================
  --border-color: #f6f6f6;
  --background-color-submit: #f6f6f6;
  --text-color-submit: #202024;
  --text-buttons-submit: rgba(246, 246, 246, 0.5);
  --text-color-auth-form: #f6f6f6;
  --background-color-auth-form: #202024;
  --background-color-submit-active: #f6f6f6;
  // ========= /Authorization ===========================================
  // ===========/Category============================================
  --color-text-category: rgba(255, 255, 255, 0.6);
  --color-text-categor-hover: #eac645;
  --color-line-scroll: rgba(17, 17, 17, 0.6);
  // ===========/Category============================================
  --color-pagination-fill: #ffffff;
  --filter: brightness(0) invert(1);
  --color-filter: invert(1);
  --font-color-shoppinglist: rgba(255, 255, 255, 0.6);
}
